.control {
    width: 100%;
    display: block;
    font-size: var(--mantine-font-size-axl);
    font-weight: var(--mantine-font-weight-xl);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    border: 4px;
}
.control:hover {
    background-color: var(--mantine-color-gray-8);
    text-decoration: underline;
} 
