.control {
    width: 100%;
    display: block;
    padding: var(--mantine-spacing-md);
    color: var(--mantine-color-gray-4);
}
.control:hover {
    background-color: var(--mantine-color-gray-8);
    opacity: 0.4;
    text-decoration: underline;
    color: var(--mantine-color-gray-1);
} 
