.headerNavLink {
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    color: inherit;
    text-decoration: none;
}
.headerNavLink:hover {
    border-bottom-color: var(--mantine-color-terracota-7);
    color: var(--mantine-color-terracota-7);
}

.footerLink {
    color: inherit;
    text-decoration: none;
}
.footerLink:hover {
    color: var(--mantine-color-terracota-7);
}
