.imageLink {
    display: flex;
    align-items: center;
    justify-items: center;
    width: auto;
    height: auto;
    color: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.imageLink:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--mantine-color-folha-5);
}

.tagLink{
    cursor: pointer;
}
